/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/03/2020 09:37
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff2") format("woff2"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
    
    font-style: normal;
    margin-left: 20px;
    }
    
    .flaticon-tour:before { content: "\f100"; }
    .flaticon-report:before { content: "\f101"; }
    .flaticon-cms:before { content: "\f102"; }
    .flaticon-app:before { content: "\f103"; }
    .flaticon-helmet:before { content: "\f104"; }
    .flaticon-high-tech:before { content: "\f105"; }
    .flaticon-real-estate:before { content: "\f106"; }
    .flaticon-content:before { content: "\f107"; }
    .flaticon-search:before { content: "\f108"; }
    .flaticon-curriculum-vitae:before { content: "\f109"; }