.logo img {
	width: 199px;
}
.footer-logo img {
	width: 74%;
	position: relative;
	bottom: 30px;
}

/* dropdown css */
#long-list .nice-select.open .list {
  overflow-y: scroll;
  height: 200px;
}

#applyModal .modal-backdrop {
	opacity: 0.5 !important;
}
#applyModal .modal-content {
	border-radius: 25px;
}
#applyModal .modal-dialog {
	max-width: 600px;
	margin: 3.75rem auto;
}
#applyModal .modal-title {
	color: #fb246a;
	margin-left: auto;
	font-weight: 700;
	font-size: xx-large;
}
#applyModal input,
#sample-form input {
	outline: none;
	border: none;
	border-radius: 0px !important;
	background-color: transparent;
	border-bottom: 1px solid #fb246a;
}
#applyModal .nice-select,
#applyModal .nice-select .list,
#sample-form .nice-select,
#sample-form .nice-select .list {
	width: inherit;
}
#applyModal .nice-select,
#sample-form .nice-select {
	border: none;
	color: black;
	padding-left: 11px;
	border-radius: 0px !important;
	border-bottom: 1px solid #fb246a;
	margin-bottom: 10px;
}
#applyModal #upload-cv {
	border-bottom: none;
	margin-top: 8px;
}
#applyModal input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
*/ #applyModal input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
}
#applyModal .btn-rounded {
	border-radius: 25px;
	margin-top: 10px;
}
#applyModal input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: black;
}
.btn-trash {
	border: none;
	border-radius: 5px;
	background-color: #fb246a;
}
.btn-trash:hover,
.btn-times:hover {
	cursor: pointer;
}
.btn-times {
	border: none;
	border-radius: 5px;
	background-color: #73fbaf;
}
/* Terms and Conditions */
.tac-links {
	color: #fb246a;
	text-decoration: underline;
}
.tac-links:hover {
	color: #fb246a;
	text-decoration: underline;
}
.tac-span {
	color: red;
}
.pp-ul {
	margin-top: 0;
	padding: revert;
	margin-bottom: 1rem !important;
}
.pp-ul li {
	list-style-type: disc;
}

/* Required Fields */
.required-field {
	color: red;
}
@media only screen and (max-width: 900px) {
	.table-responsive {
		overflow-x: scroll;
	}
	.table-responsive .table {
		width: max-content;
	}
}
@media only screen and (max-width: 600px) {
	.footer-logo img {
		bottom: 0px;
	}
}

#cookieModal .modal-dialog {
	margin-top: 0rem;
	max-width: 100%;
}
#cookieModal .modal-content {
	border-radius: 0rem;
}
#cookieModal .buttons .btn {
	margin: 0.2rem;
}
